/* Center the form on the screen */
.loginFormComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-size: cover;
    height: 100vh; /* Full height of the viewport */
    background-image: url('/./src/images/eullafiedworldnetwork.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style the form container */
.loginFormComponentFix {
    width: 40%;
    max-width: 320px;
    padding: 5px;
    border: 1px;
    border-style: solid;

    border-color: #007BFF; /* Optional: Change to your desired color */
    border-radius: 8px;
    background-color: #f0f0f0;;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

}
.loginFormComponentFix h1{
    text-align: center;
    color: #007BFF; /* Optional: Change to your desired color */
    font-family: 'Poppins', sans-serif; /* Optional: Change to your desired font */
    font-size: 1.5rem; /* Optional: Change to your desired size */
    margin-bottom: 0.2rem; /* Optional: Add some space below the heading */
}

.loginFormComponentFix p{
    text-align: center;
    color: #007BFF; /* Optional: Change to your desired color */
    font-family: 'Poppins', sans-serif; /* Optional: Change to your desired font */
    font-size: 0.5rem; /* Optional: Change to your desired size */
    margin-bottom: 0.2rem; /* Optional: Add some space below the heading */

}
.loginFormComponent input{
    width: 100%;
    padding: 0.05rem;
    margin-bottom: 0.5rem;
    border: 1px ;
    border-style: ridge;
    
    border-radius: 4px;
    font-size: 1rem; /* Optional: Change to your desired size */
    font-family: 'Poppins', sans-serif; /* Optional: Change to your desired font */
}
.loginFormComponent button{
    width: 100%;
    padding: 0.5rem;
    background-color: #007BFF; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Removes the border */
    border-radius: 4px; /* Adjusts rounded corners */
    font-size: 0.5rem; /* Optional: Change to your desired size */
    font-family: 'Poppins', sans-serif; /* Optional: Change to your desired font */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Adds a hover effect */
}
.loginFormComponent button:hover{
    border-radius: 4px; /* Adjusts rounded corners */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    text-align: center; /* Ensures text is centered */
    background-color: blue;
    transition: background-color 0.3s ease; /* Adds a hover effect */
   
}
.loginFormComponent li{
    
    list-style: none; /* Removes default bullet points */
    padding: 0; /* Removes default padding */
    margin-top: 0.3rem; /* Removes default margin */
    color: #007BFF; /* Optional: Change to your desired color */
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Optional: Change to your desired font */
    font-size: 0.5rem; /* Optional: Change to your desired size */
    margin-bottom: 0.2rem; /* Optional: Add some space below the heading */
    cursor: pointer;
}

.loginFormComponent li:hover{
    color: blue; /* Changes text color on hover */
     /* Adds a light background on hover */
    border-radius: 0.5rem; /* Adds rounded corners on hover */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth hover effect */
}

